div(class='navbar navbar-inverse navbar-fixed-top')
	div(class='navbar-inner')
		div(class='container')
			a(class='brand', href='/')
				div#logo
					span Developers
			div(class='nav-collapse collapse pull-right')
				ul(class='nav')
					li.divider-vertical
					li: a(href='/endpoints') Endpoints
