body {
	background: transparent url('../img/404/bg@2x.jpg') repeat;
	background-size: 100px auto;
	margin:0;
}

#NotFound {
	top: 50%;
	position: absolute;
	margin-top: -85px;
	width: 100%;
}

#logo {
	width: 76px;
	height: 57px;
	background: transparent url('../img/404/logo@2x.png') no-repeat;
	background-size: 76px auto;
	margin: 0 auto;
}

#street {
	width: 100%;
	height: 27px;
	background: transparent url('../img/404/street@2x.jpg') repeat center;
	background-size: 574px auto;
	margin: 15px 0 0 0;
}
