doctype
html
	head
		meta(charset='utf-8')

		title Pladdy 404 Not Found

		meta(name='author', content='Francesco Pasqua')

		link(rel='shortcut icon', href='/favicon.ico')

		link(rel='stylesheet', href='/css/404.css')
	body

		div(id='NotFound')
			div(id='logo')
			div(id='street')
