extends ../layouts/default

block content
	include ../elements/navbar

	div.container
		div.row
			div(class='span3 sidebar')
		h1 Pladdy Developers
		p.
			The <strong>pladdy API</strong> gives you access to all of the data used by the pladdy mobile applications,
			and, in some cases, even more.
